<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="/customerportal/src/app/dashboard/" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3"  routerLink="/login">KAAR TECH</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
           
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading"></div>
                            <a class="nav-link"routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Profile</span> </a>
                            
                            <a class="nav-link" routerLink="/saleorder" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Sale Order</span> </a>
                           
                            <a class="nav-link" routerLink="/custmdeliv" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Delivery</span> </a>
                            <a class="nav-link" routerLink="/inquiry" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Inquiry</span> </a> 
                            <a class="nav-link" routerLink="/invoicedetails" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>InvoiceDetails</span></a> 
                            <a class="nav-link" routerLink="/payages" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Payage</span> </a> 
                            <a class="nav-link" routerLink="/creditmemo" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Credit/debit memo</span></a>
                           
                          
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                
                        <div class="content">
                        
                            <div class="content-2">
                                <div class="recent-payments">
                                    <div class="title">
                                        <h1>Invoice details</h1>
                                        
                                    </div>
                                    <table>
                                        <tr>
                                            <th>MANDT</th>
                                            <td> MANDT._text</td>
                                        </tr>   
                                        <tr>
                                            <th>VEBLEN</th>
                                            <td> VBELN._text</td>
                                        </tr> 
                                        <tr>
                                            <th>POSNR</th>
                                            <td> POSNR._text</td>
                                        </tr>  
                                        <tr>
                                            <th>FKIMG</th>
                                            <td> FKIMG._text</td>
                                        </tr> 
                                        <tr>
                                            <th>VRKME</th>
                                            <td> VRKME._text</td>
                                        </tr> 
                                        <tr>
                                            <th>UMVKZ</th>
                                            <td> UMVKZ._text</td>
                                        </tr> 
                                        <tr>
                                            <th>FKLMG</th>
                                            <td> FKLMG._text</td>
                                        </tr> 
                                        <tr>
                                            <th>GEWEI</th>
                                            <td> GEWEI._text</td>
                                        </tr> 
                                        <tr>
                                            <th>PRSDT</th>
                                            <td> PRSDT._text</td>
                                        </tr> 
                                        <tr>
                                            <th>FBUDA</th>
                                            <td> FBUDA._text</td>
                                        </tr> 
                                        <tr>
                                            <th>NETWR</th>
                                            <td> NETWR._text</td>
                                        </tr> 
                                        <tr>
                                            <th>VGBEL</th>
                                            <td> VGBEL._text</td>
                                        </tr> 
                                        <tr>
                                            <th>VGPOS</th>
                                            <td> VGPOS._text</td>
                                        </tr> 
                                        <tr>
                                            <th>VGTYP</th>
                                            <td> VGTYP._text</td>
                                        </tr> 
                                        <tr>
                                            <th>AUBEL</th>
                                            <td> AUBEL._text</td>
                                        </tr> 
                                        <tr>
                                            <th> MATNR</th>
                                            <td> MATNR._text</td>
                                        </tr> 
                                        <tr>
                                            <th>ARKTX</th>
                                            <td> ARKTX._text</td>
                                        </tr> 
                                        <tr>
                                            <th>PSTYV</th>
                                            <td> PSTYV._text</td>
                                        </tr> 
                                        <tr>
                                            <th>POSPA</th>
                                            <td> POSPA._text</td>
                                        </tr> 
                                        <tr>
                                            <th>ALAND</th>
                                            <td> ALAND._text</td>
                                        </tr> 
                                        <tr>
                                            <th>SKTOF</th>
                                            <td> SKTOF._text</td>
                                        </tr> 
                                        <tr>
                                            <th> SKFBP</th>
                                            <td>  SKFBP._text</td>
                                        </tr> 
                                        <tr>
                                            <th>ERNAM</th>
                                            <td> ERNAM._text</td>
                                        </tr> 
                                        <tr>
                                            <th>ERDAT</th>
                                            <td> ERDAT._text</td>
                                        </tr> 
                                        <tr>
                                            <th>Time</th>
                                            <td> ERZET._text</td>
                                        </tr> 
                                        <tr>
                                            <th>WAVWR</th>
                                            <td> WAVWR._text</td>
                                        </tr> 
                                        <tr>
                                            <th> KZWI1</th>
                                            <td>  KZWI1._text</td>
                                        </tr> 
                                        <tr>
                                            <th>PRCTR</th>
                                            <td> PRCTR._text</td>
                                        </tr> 
                                        <tr>
                                            <th>MATWA</th>
                                            <td> MATWA._text</td>
                                        </tr> 
                                        <tr>
                                            <th>CMPRE</th>
                                            <td> CMPRE._text</td>
                                        </tr> 
                                        <tr>
                                            <th> MPROK</th>
                                            <td> MPROK._text</td>
                                        </tr> 
                                        <tr>
                                            <th>KDGRP_AUFT</th>
                                            <td> KDGRP_AUFT._text</td>
                                        </tr> 
                                        <tr>
                                            <th>AUTYP</th>
                                            <td> AUTYP._text</td>
                                        </tr> 
                                        <tr>
                                            <th>MWSBP</th>
                                            <td> MWSBP._text</td>
                                        </tr>
                                        <tr>
                                            <th>CMPRE_FLT</th>
                                            <td> CMPRE_FLT._text</td>
                                        </tr>
                                        <tr>
                                            <th>KURSK_DAT</th>
                                            <td> KURSK_DAT._text</td>
                                        </tr>
                                        <tr>
                                            <th>DISPUTE_CASE</th>
                                            <td> DISPUTE_CASE._text</td>
                                        </tr>
                                        <tr>
                                            <th>CAMPAIGN</th>
                                            <td> CAMPAIGN._text</td>
                                        </tr> 
                
                                       
                                    </table>
                                
                                </div>
                            </div>  
                        </div>

                   
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
